<div class="row mt-5">
    <div class="col"></div>
    <div class="col-12 col-md-3">           
        <div class="logo">
            <img src="assets/images/logo.png" alt="">
        </div>  
        <div class="signup-form mt-4">
            <div class="text-center">
                <span class="signup-form-text"> RESET PASSWORD</span>
            </div>
            <div class=" signup-form-main">
                <div *ngIf="emailSection">
                    <mat-form-field class="w-100 qrname-input1" appearance="outline">
                        <mat-label>Enter Your Email</mat-label>
                        <input matInput type="text" class="" [(ngModel)]="email" (input)="emailRegex(email)">
                        <mat-hint class="text-danger" *ngIf="requiredError && !email">This is required</mat-hint>
                        <mat-hint class="text-danger" *ngIf="emailRegexMsg  && email">{{emailRegexMsg}}</mat-hint>
                    </mat-form-field>
                    <div>
                        <span class="float-left text-primary clickable" routerLink="/login">
                            SIGN IN
                        </span>
                        <span class="float-right text-primary clickable" routerLink = '/signup'>
                            SIGN UP
                        </span>
                    </div>
                </div>
                <div *ngIf="tokenSection">
                    <mat-form-field class="w-100 qrname-input1" appearance="outline">
                        <mat-label>Token</mat-label>
                        <input matInput type="text" class="" [(ngModel)]="token" maxlength="4">
                        <mat-hint class="text-danger" *ngIf="requiredError && !token">This is required</mat-hint>
                    </mat-form-field>
                </div>
                <div *ngIf="passwordSection">
                    <mat-form-field class="w-100 qrname-input1" appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input matInput type="password" class="" [(ngModel)]="password"  (input)="passwordRegex(password)">               
                        <mat-hint class="text-danger" *ngIf="requiredError && !password">This is required</mat-hint>  
                    </mat-form-field>            
                    <small class="text-danger" *ngIf="passRegexMsg && password">{{passRegexMsg}}</small>
                </div>

                
                <div *ngIf = "msg" class="mt-2 text-center text-danger h-25"> {{msg}} </div> 
                <div *ngIf = "successMsg" class="mt-2 text-center text-success h-25"> {{successMsg}}</div> 
    
                <button *ngIf="emailSection" class="w-100 mt-2 font-20 btn btn-primary" (click)="isUserExists()"> <i *ngIf="loading" class="fas fa-circle-notch fa-spin"></i> NEXT</button>
                <button *ngIf="tokenSection" class="w-100 mt-2 font-20 btn btn-primary" (click)="validateForgetToken()"> <i *ngIf="loading" class="fas fa-circle-notch fa-spin"></i> NEXT</button>
                <button *ngIf="passwordSection && !successMsg" class="w-100 mt-2 font-20 btn btn-primary" (click)="updatePassword()"> <i *ngIf="loading" class="fas fa-circle-notch fa-spin"></i> RESET PASSWORD</button>
                <button *ngIf="passwordSection && successMsg " class="w-100 mt-2 font-20 btn btn-primary" routerLink="/login"> LOGIN</button>

            </div>

        </div>   

    </div>
    <div class="col"></div>
</div>